# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.env

# IDE files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
*.coverage
*.coveragerc

# Logs and temporary files
*.log
*.tmp
*.swp
*~
.DS_Store

# Build directories
build/
dist/
*.egg-info/

# Python Wheels
*.whl
